* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  min-height: 100vh;

  background: linear-gradient(270deg, #85c8b7, #b2d9cf, #e3e1a2, #f58e7d, #629dd7);
    background-size: 1000% 1000%;

    animation: AnimationName 20s ease infinite;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  margin-right: 20px;
  border-radius: 10px;
}

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;


}

@keyframes AnimationName { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}